@font-face {
    font-family: 'NorseBold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    font-family: sans-serif;
}

.black-colored-div {
    margin-top: 35%;
    height: 16%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    font-family: 'NorseBold', sans-serif;
}

.picture-logo-container {
    flex: 1;
    background-color: rgb(245, 245, 245);
    position: relative;
    overflow: hidden;
}

.picture-logo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

fieldset {
    border: none;
    margin: 0 auto;
    padding: 0;
}

.main-content-container {
    display: flex;
    flex: 2;
    flex-direction: column;
}


.section-1, .section-3 {
    flex: 1;
    background-color: rgb(245, 245, 245);
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 3em;
    padding-right: 25%;
}

.section-1, .section-2, .section-3 {
    padding-left: 3em;
}

.section-2 {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}

form {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 800px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
}

input {
    width: 250px;
    border: 1px solid gray;
    border-radius: 0.3em;
    height: 25px;
}

input:focus {
    /* border: 1px solid blue !important;
    border-bottom-color: blue !important;
    border-right-color: blue !important;
    border-top-color: blue !important;
    border-left-color: blue !important; */
}

button {
   background-color: #596D48;
   color: white;
   margin-top: 3em;
   width: 200px;
   height: 50px;
   border-radius: 1em;
   font-size: large;
}

span {
    color: #596D48;
}

h1 {
    margin-bottom: 0;
}

.photo-credits {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: medium;
    width: 100%;
    text-align: center;
}

a {
    color: white;
}

.black-colored-div img {
    height: auto;
    max-width: 20%;
    object-fit: contain;
}